<div class="mdl-cell scrum-cell-step mdl-cell--4-col">
    <div class="scrum-card-step scrum-card-step1 mdl-card">
        <div class="mdl-card__supporting-text">
            <i class="material-icons material-icons.md-48">flight_takeoff</i>
            <p>1. Start a new release</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/releases" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Releases
            </a>
        </div>
    </div>
</div>
<div class="mdl-cell scrum-cell-step mdl-cell--4-col">
    <div class="scrum-card-step scrum-card-step2 mdl-card">
        <div class="mdl-card__supporting-text">
            <i class="material-icons material-icons.md-48">directions_run</i>
            <p>2. Add ~2-12 sprints to it</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/sprints"class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Sprints
            </a>
        </div>
    </div>
</div>
<div class="mdl-cell scrum-cell-step mdl-cell--4-col">
    <div class="scrum-card-step scrum-card-step3 mdl-card">
        <div class="mdl-card__supporting-text">
            <i class="material-icons material-icons.md-48">list</i>
            <p>3. Fill user stories in each sprint.</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/stories" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Stories
            </a>
        </div>
    </div>
</div>